.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.generalbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .generalbtn {
    width: 100%;
  }
}
